.navbar {
  border-radius: 0;
}

#mobile-menu {
  background-color: #ddd;
}

.menu-section {
  background-color: #bdbdbd;
  padding: 30px;
  margin: 15px;
  min-height: 1000px;
}

#mobile-menu li a {
  border-bottom: 1px solid #999;
}
