
#main-content.container {
    padding-top: 20px;
}



#chicken-section section {
    background-color: #AAAAAA; 
    border: 1px solid #000; 
    padding: 15px; 
    margin-bottom: 30px; 
    height: 1000px; 
    overflow: auto;
}


#chicken-section h2 {
    color: #000; 
    margin-top: 0;
}



#menu-dropdown {
    background-color: #f8f8f8; 
    border: 1px solid #e7e7e7; 
}


@media (max-width: 767px) { /* Applies only to xs viewport */
    #menu-dropdown.navbar-collapse.collapse.in {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
